<div class="fw-normal">
    <%- include('./layouts/header') %> <%- include('./layouts/navbar') %>
    <h1>Hello I'm Faridz Wahyu</h1>
    <p>Web Developer since 2017. Born in Bojonegoro, East Java.</p>
</div>
