<div class="fw-normal">
    <%- include('./layouts/header') %> <%- include('./layouts/navbar') %>
    <div class="container">
        <table class="table table-bordered table-hover fs-6">
            <thead class="bg-light">
                <tr>
                    <th>No.</th>
                    <th>Plat Nomor</th>
                    <th>Masuk</th>
                    <th>Keluar</th>
                    <th>Tarif</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>S 4516 DR</td>
                    <td>13-08-2022</td>
                    <td>14-08-2022</td>
                    <td>Rp 5000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>S 1332 AJ</td>
                    <td>17-08-2022</td>
                    <td>22-08-2022</td>
                    <td>Rp 5000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>L 2452 AA</td>
                    <td>07-08-2022</td>
                    <td>22-08-2022</td>
                    <td>Rp 5000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>B 4522 AS</td>
                    <td>10-08-2022</td>
                    <td>12-08-2022</td>
                    <td>Rp 5000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
